* {
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: #2f2f2f;
  font-size: 30px;
}
.box .menu {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 20px;
  align-items: center;
  color: #e5e5e5;
}
.opshe {
  background: #2f2f2f;
  display: flex;
  justify-content: center;
}
.png {
  filter: drop-shadow(-30px 30px 40px rgba(119, 119, 119, 0.1));
}
.left {
  margin-top: 250px;
}
.h4 {
  color: #f59b00;
  font-family: sans-serif;
}
.h1 {
  font-family: sans-serif, "Popins";
  color: #ffffff;
  font-size: 60px;
}
.p {
  font-family: sans-serif;
  color: #ffffff;
  opacity: 0.7;
}
.button {
  background: #f59b00;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 140px;
  height: 49px;
  font-family: sans-serif;
  transition: 0.5s;
}
.box .menu :hover {
  color: white;
}
.button:hover {
  background: none;
  border: 2px solid #f59b00;
}
.card1 {
  border: 1px solid #a3a3a3;
  border-radius: 10px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: 600;
  color: #2f2f2f;
}
.opshe1 {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 150px;
  justify-content: center;
  align-items: center;
}
.left1 {
  margin-top: 170px;
}
.button1 {
  background: #f59b00;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 140px;
  height: 49px;
  font-family: sans-serif;
  transition: 0.5s;
}
.h11 {
  font-family: sans-serif, "Popins";
  color: black;
  font-size: 35px;
}
.lorem {
  color: #2f2f2f;
  font-family: "Poppins";
  opacity: 0.9;
  font-size: 16px;
}
.part4h1 {
  font-family: sans-serif;
  text-align: center;
  font-weight: 700;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px 5%;
  max-width: 1500px;
  margin: 50px auto;
}
.part4p {
  color: #2f2f2f;
  font-family: sans-serif;
  text-align: center;
}
.card2 {
  background: #ffe1e8;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card3 {
  background: #ffe1e8;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card4 {
  background: #f9dcff;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card5 {
  background: #ffdee7;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card6 {
  background: #ecf1ff;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card7 {
  background: #fadade;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card8 {
  background: #d9e6fe;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}

.card9 {
  background: #ebf4bf;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 273px;
}
.line {
  color: #f59b00;
  margin: auto;
  text-align: center;
  border: 2px solid #f59b00;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.line1 {
  margin-top: 20px;
}
.line:hover {
  background-color: #f59b00;
  color: white;
  transition: 0.2s;
}
.part5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.carddd {
  background: #2f2f2f 95%;
  max-width: 600px;
  width: 100%;
  padding: 100px 3%;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cardd {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 1;
  color: #2f2f2f 60%;
  background: rgba(47, 47, 47, 0.6);
}
.part5h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 31px;
  color: white;
  margin-bottom: 20px;
}
input {
  opacity: 0.25;
  border: 1px solid #ffffff;
  background: none;
}
.buttonn {
  background: #f59b00;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 140px;
  height: 49px;
  font-family: sans-serif;
  transition: 0.5s;
}
.flexa {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.address {
  width: 600px !important;
  height: 40px;
  border-radius: 10px;
}
.name {
  width: 180px;
  height: 40px;
  border-radius: 10px;
}
.email {
  width: 180px;
  height: 40px;
  border-radius: 10px;
}
.chekbox {
  background: none;
}
.pp {
  color: white;
  opacity: 0.25;
  font-family: sans-serif;
}
.partcha {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.part6 {
  margin-bottom: 130px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.finally {
  display: flex;
  width: 100vw;
  height: 368px;
  background: #2f2f2f 92%;
  margin: auto;
  color: #ffffff;
  justify-content: center;
  gap: 150px;
  font-family: sans-serif;
  padding-top: 50px;
}
.finally p {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.7;
}
.battins {
  background: #f59b00;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 30px;
  font-family: sans-serif;
  transition: 0.5s;
  margin-top: 20px;
  width: 150px;
  height: 40px;
}
a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li a:hover{
  color: #f59b00 !important;
}